@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla button {
  position: absolute;
  top: 38%;
}

.embla button:nth-child(2) {right:0}


#tsparticles{
 height: 100%;
 width: 100%;
}

.css-wordpress img{
  border-radius: 15px;
  margin: 30px auto;
  max-width: 600px;
}

.css-wordpress p{
  margin-bottom: 20px;

}

.css-wordpress ul{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left:40px;
  list-style:circle;

}

.css-wordpress ol{
  margin-top: 10px;
  margin-bottom: 10px;

}

.css-wordpress li{

  margin-bottom: 5px;
}

.css-wordpress strong{
  font-weight:700 ;
}

.css-wordpress a{
  color:#172068;

}